/* body{
    display: flex;
    justify-content: center;
} */


.nav-links{
  color: #1ED760;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  color: #1ED760;
  text-decoration: none;
  padding-top: 25px;
}

.nav-links a:hover {
  text-decoration: underline;
  color: white;
}


/* Style for the container of all posts */
.post-container {
  max-width: 50%;
  padding-left: 25%;
}

/* Style for each individual post */
.post {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
  background-color:#666;
}

/* Style for post title */
.post h3 {
  margin-bottom: 10px;
  color: white;
}

/* Style for post description */
.post p {
  color:black;
}

.post:hover {
  background-color: grey;
  transition: background-color 0.01s;
}

.message{
  display: none;
  color: #1ED760;
  margin-top: 10px;
}

.form-container {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.Title {
  text-align: center;
  color: #1ED760;
}

.Form {
  display: flex;
  flex-direction: column;
}

.post_title,
.post_description {
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  height: 50px;
}

button.postBtn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.postBtn:hover {
  background-color: #1ED760;
}

.post-square{
  padding-left: 30%;
  padding-top: 8%;
}

